<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <span>
        <a
          href="#"
          class="link-offset-2 link-underline link-underline-opacity-0"
        >
          <i class="fa-brands fa-square-facebook"></i>
        </a>
      </span>
      <span>
        <a href="#">
          <i class="fa-brands fa-square-x-twitter"></i>
        </a>
      </span>
      <span>
        <a href="#">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
      </span>
    </div>
    <div class="f-info-brand">
      <p>&#169; 2024 Sample Copyright, Inc.</p>
      <p>
        <a
          href="#"
          class="link-offset-2 link-underline link-underline-opacity-0"
          >Privacy</a
        >
        •
        <a
          href="#"
          class="link-offset-2 link-underline link-underline-opacity-0"
        >
          Terms </a
        >•
        <a
          href="#"
          class="link-offset-2 link-underline link-underline-opacity-0"
        >
          Sitemap </a
        >•
        <a
          href="#"
          class="link-offset-2 link-underline link-underline-opacity-0"
        >
          Company details
        </a>
      </p>
    </div>
  </div>
</footer>
